.btn {
    font-weight: 500;
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn-sm {
    height:32px;
    font-size: 14px;
}
.btn-md {
    height: 36px;
    font-size: 16px;
}
.btn-lg {
    height: 40px;
    font-size: 18px;
}
.btn-primary {
    background-color: green;
    color: aliceblue;
}
.btn-primary:hover{
    background-color: greenyellow;
}
.btn-danger {
    background-color: red;
    color: aliceblue;
}
.btn-danger:hover{
    background-color: rgb(255, 67, 67);
}
.btn-outline {
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-outline:hover {
    border-color: green;
    color: green;
}

.btn-link {
    background: none;
    color: green;
}
.btn-link:hover{
    color: rgb(63, 255, 63);
}
.btn-disabled{
    opacity: 0.5;
    cursor: not-allowed;
}