.my-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.my-popup {
    background-color: aliceblue;
    width: 350px;
    height: 150px;
    color: black;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.my-popup-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 0.5px solid black;
}
.my-popup-header p{
    margin: 0;
}
.my-popup-header i{
    cursor: pointer;
}
.my-popup-footer {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}